.grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0rem !important;
    margin-left: 0rem !important;
    margin-top: 0rem !important;
}

body {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 13px;
    color: #757575;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    min-height: 100%;
}
.ui-outputlabel .ui-outputlabel-label {
    overflow: hidden;
}
body .ui-widget {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    text-decoration: none;
}
html {
    height: 100%;
    font-size: 13px;
}

.max-alto{
    max-height: 80vh;
}